@import url("https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css");

body {
  font-family: Droid Sans, sans-serif;
  margin: 60px 0px 60px 0px;
  background-color: #333;
}

h1 {
  font-family: Oswald, sans-serif;
}

.body-text {
  margin: 20px 80px 40px 80px;
}